#login-form .input-container {
  padding: 7px 0px;
}

#login-form input {
  width: 300px;
}

#login-form input[type="text"], input[type="password"] {
  font-size: 1.5em;
  padding: 5px 10px;
}

#login-form .error {
  color: firebrick;
  margin-left: 10px;
  font-size: 1.1em;
}