#register-form .input-container {
  padding: 7px 0px;
}

#register-form input {
  width: 300px;
}

#register-form input {
  font-size: 1.5em;
  padding: 5px 10px;
}

#register-form .error {
  color: firebrick;
  margin-left: 10px;
  font-size: 1.1em;
}