@(result: String)(implicit session: Session)

@main {
  <script type="text/javascript" src='@routes.Assets.at("js/Chart.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("js/index.js")'></script>
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/index.css")'>
} {

  <h1>And the winner is..</h1>

  <canvas id="votingChart"></canvas>

  <div><button type="button" id="showTeams" class="btn btn-success" onclick="updateChart()">Show Team Names</button></div>

  <script type="text/javascript">
    result = JSON.parse('@play.twirl.api.Html(result)');
  </script>
}