@(loginForm: Form[LoginData])(implicit session: Session)

@main {
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/login.css")'>
} {
  <div id="login-form">
    <form method="POST" action="@routes.Application.loginSubmit()">
      @loginForm.globalError.map { error =>
        <span class="error">@error.message</span>
      }

      <div class="input-container">
        <input name="team" type="text" placeholder="Team name"/>
        @loginForm("team").error.map { error =>
          <span class="error">@Messages(error.message, error.args: _*)</span>
        }
      </div>
      <div class="input-container">
        <input name="password" type="password" placeholder="Password"/>
        @loginForm("password").error.map { error =>
          <span class="error">@Messages(error.message, error.args: _*)</span>
        }
      </div>
      <div class="input-container">
        <input class="btn btn-success btn-lg" type="submit" value="Log In"/>
      </div>
    </form>
  </div>
}