@(head: Html)(content: Html)(implicit session: Session)

<!DOCTYPE html>

<html>
    <head>
        <title>Hackervote</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
        <script type="text/javascript" src='@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")'></script>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/main.css")'>

        @head
    </head>
    <body>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="@routes.Application.index()">Hackervote</a>
          </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              @if(session.get("team").isDefined) {
                <li><a href='@routes.AuthController.logout()'>Logout</a></li>
              } else {
                <li><a href='@routes.AuthController.register()'>Register</a></li>
              }
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="container">
        @content
      </div>
    </body>
</html>
