@(registrationForm: Form[LoginData])(implicit session: Session)

@main {
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/login.css")'>
} {
  <div id="register-form">
    <form method="post" action="@routes.TeamController.submitForm()">
      <div class="input-container">
        <input name="team" type="text" placeholder="Team name"/>
        @registrationForm("team").error.map { error =>
          <span class="error">@Messages(error.message, error.args: _*)</span>
        }
      </div>
      <div class="input-container">
        <input name="password" type="text" placeholder="Password"/>
        @registrationForm("password").error.map { error =>
          <span class="error">@Messages(error.message, error.args: _*)</span>
        }
      </div>
      <div class="input-container">
        <input class="btn btn-success btn-lg" type="submit" value="Register"/>
      </div>
    </form>
  </div>
}