@(registrationForm: Form[ProfileInfo])(implicit session: Session)

@main {
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/form.css")'>
} {
  <div id="form">
    <form method="post" action="@routes.TeamController.submitForm()">
      @registrationForm.globalError.map { error =>
        <span class="error">@error.message</span>
      }

      <div class="input-container">
        <input name="team" type="text" placeholder="Team name"/>
        @registrationForm("team").error.map { error =>
          <span class="error">@Messages(error.message, error.args: _*)</span>
        }
      </div>
      <div class="input-container">
        <input name="password" type="text" placeholder="Password"/>
        @registrationForm("password").error.map { error =>
          <span class="error">@Messages(error.message, error.args: _*)</span>
        }
      </div>
      <div class="input-container">
        <input name="githubUrl" type="text" placeholder="Github URL"/>
        @registrationForm("githubUrl").error.map { error =>
          <span class="error">@Messages(error.message, error.args: _*)</span>
        }
      </div>
      <div class="input-container">
        <input name="appUrl" type="text" placeholder="App URL (In the cloud)"/>
        @registrationForm("appUrl").error.map { error =>
          <span class="error">@Messages(error.message, error.args: _*)</span>
        }
      </div>
      <div class="input-container">
        <input name="members[0].name" type="text" placeholder="Member 1's name"/>
        @registrationForm("members[0].name").error.map { error =>
          <span class="error">@Messages(error.message, error.args: _*)</span>
        }
      </div>
      <div class="input-container">
        <input name="members[0].email" type="text" placeholder="Member 1's email"/>
        @registrationForm("members[0].email").error.map { error =>
          <span class="error">@Messages(error.message, error.args: _*)</span>
        }
      </div>
        <div class="input-container">
            <input name="members[1].name" type="text" placeholder="Member 2's name"/>
            @registrationForm("members[1].name").error.map { error =>
            <span class="error">@Messages(error.message, error.args: _*)</span>
            }
        </div>
        <div class="input-container">
            <input name="members[1].email" type="text" placeholder="Member 2's email"/>
            @registrationForm("members[1].email").error.map { error =>
            <span class="error">@Messages(error.message, error.args: _*)</span>
            }
        </div>
        <div class="input-container">
            <input name="members[2].name" type="text" placeholder="Member 3's name"/>
            @registrationForm("members[2].name").error.map { error =>
            <span class="error">@Messages(error.message, error.args: _*)</span>
            }
        </div>
        <div class="input-container">
            <input name="members[2].email" type="text" placeholder="Member 3's email"/>
            @registrationForm("members[2].email").error.map { error =>
            <span class="error">@Messages(error.message, error.args: _*)</span>
            }
        </div>
        <div class="input-container">
            <input name="members[3].name" type="text" placeholder="Member 4's name"/>
            @registrationForm("members[3].name").error.map { error =>
            <span class="error">@Messages(error.message, error.args: _*)</span>
            }
        </div>
        <div class="input-container">
            <input name="members[3].email" type="text" placeholder="Member 4's email"/>
            @registrationForm("members[3].email").error.map { error =>
            <span class="error">@Messages(error.message, error.args: _*)</span>
            }
        </div>
      <div class="input-container">
        <input class="btn btn-success btn-lg" type="submit" value="Register"/>
      </div>
    </form>
  </div>
}